<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="af90ec">  <td>20/02/16 10:16:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.afterMethod()[pri:0, instance:TestClasses.LoginTest@5ae63ade]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1263877414</td>   <td></td> </tr>
<tr bgcolor="af90ec">  <td>20/02/16 10:15:56</td>   <td>-13858</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.beforeMethod()[pri:0, instance:TestClasses.LoginTest@5ae63ade]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1263877414</td>   <td></td> </tr>
<tr bgcolor="af90ec">  <td>20/02/16 10:16:08</td>   <td>-1387</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.validLogin()[pri:0, instance:TestClasses.LoginTest@5ae63ade]">validLogin</td> 
  <td>main@1263877414</td>   <td></td> </tr>
</table>
